{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<h3 id="2121837"><a href="https://oreillymedia.pxf.io/c/5668688/2121837/15173">
        I am excited to share the release of "Deep Learning at Scale: At the Intersection of Hardware, Software, and Data," now available through O'Reilly. If you're curious, I invite you to take advantage of a 30-day trial to dive into the content and see what it has to offer. We hope you enjoy the journey!
</a></h3>
<!-- <a href="https://oreillymedia.pxf.io/c/5668688/2121843/15173" target="_top" id="2121843"><img
        src="//a.impactradius-go.com/display-ad/15173-2121843" border="0" alt="" width="400" height="525" /></a> -->
{% endblock %}
