{% if include.feature %}
  {% assign quota = include.feature.latest | default: 1 %}
{% else %}
  {% assign quota = -1 %}
{% endif %}
{% for talk in site.talks reversed %}
  {% if quota != 0 or include.feature.list contains talk.id %}
    {% include article.html class='post'
               title=talk.title content=talk.excerpt
               vedio=talk.vedio slides=talk.slides
               display_date=talk.display_date
               url=talk.url quota=quota %}
    {% if quota > 0 %}
      {% assign quota = quota | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
